<div class="todo">

    <div class="topo">
        <div class="tit">
            <h2>Uai Informa</h2>
        </div>
    </div>

    <div class="container-formulario">

        <form [formGroup]="formulario" (submit)="login($event)" class="form">

            <div class="container-input">

                <input formControlName="Email" type="email" name="email" placeholder="E-mail">

            </div>
            <div class="container-input">

                <input formControlName="Senha" type="password" name="senha" placeholder="Senha" minlength="8">

            </div>

            <div clas="botao"><button mat-button type="submit" [disabled]="!formulario.valid" class="btn">Acessar</button></div>
            <div class="progress" *ngIf="carregando">
                <mat-progress-bar mode="indeterminate"></mat-progress-bar>
            </div>

            <div class="cadastro"><button mat-button type="button" (click)="cad()">Cadastre-se</button></div>
        </form>

    </div>

</div>