@import '../styles/input.scss';
@import '../styles/cores.scss';
.todo {
    width: 100%;
    display: table;
    .topo {
        width: 100%;
        height: 50px;
        background: $color2;
        display: block;
        float: left;
        .tit {
            width: 200px;
            height: 45px;
            margin: auto;
            display: block;
            padding-top: 8px;
            h2 {
                color: white;
                font-size: 30px;
            }
            h4 {
                color: white;
            }
        }
    }
    .container-formulario {
        display: block;
        width: 500px;
        height: 400px;
        margin: auto;
        position: relative;
        top: 100px;
        @media(max-width: 800px) {
            width: 85%;
            margin-left: 7.5%;
            margin-right: 7.5%;
        }
        .container-input {
            display: block;
            width: 100%;
            height: 40px;
            margin-top: 30px;
            input {
                padding: 5px;
            }
            button {
                &:disabled {
                    cursor: not-allowed;
                }
            }
        }
        .botao {
            display: block;
            width: 100%;
            height: 40px;
        }
        .btn {
            width: 100%;
            height: 40px;
            background: $color4;
            color: white;
            margin-top: 20px;
            &:disabled,
            .btn[disabled] {
                color: white;
                cursor: no-drop;
            }
        }
        .title-form {
            display: block;
            float: left;
            width: 100%;
            height: 45px;
            //background: $color_princ;
            span {
                display: block;
                width: 100px;
                height: 30px;
                font-size: 30px;
                color: white;
                margin-left: 25px;
            }
        }
        .cadastro {
            display: block;
            float: left;
            width: 100%;
            height: 40px;
            margin-top: 50px;
            button {
                text-align: center;
                width: 120px;
                height: 40px;
                background: #6d796d;
                color: white;
                cursor: pointer;
            }
        }
        .progress {
            display: block;
            float: left;
            width: 100%;
            margin-bottom: 10px;
        }
    }
}