<div class="todo">

    <div class="topo">
        <div class="tit">
            <h2>Uai Informa</h2>
        </div>
    </div>

    <div class="container-formulario">

        <form [formGroup]="formulario" (submit)="cadastro($event)" class="form">

            <div class="container-input">
                <input formControlName="NomeUsuario" type="text" name="usuario" placeholder="Nome*" required>
            </div>

            <div class="container-input">
                <input formControlName="Email" type="email" name="email" placeholder="E-mail*" required>
            </div>

            <div class="container-input">
                <input formControlName="Senha" type="password" name="senha" placeholder="Senha*" minlength="8">
            </div>

            <div class="container-input">
                <input formControlName="Csenha" type="password" name="Csenha" placeholder="Confirmar Senha*" minlength="8">
            </div>

            <div clas="botao"><button mat-button type="submit" [disabled]="!formulario.valid" class="btn">Cadastrar</button></div>

            <div class="progress" *ngIf="carregando">
                <mat-progress-bar mode="indeterminate"></mat-progress-bar>
            </div>

        </form>

    </div>

</div>