<div class="container">

    <div class="formulario">

        <div class="topo">
            <button mat-button type="button" (click)="novoItem()"> <i class="fa fa-plus" aria-hidden="true"></i> Novo</button>
        </div>

        <div class="form">
            <form id="form01" #form="ngForm" (submit)="consultar()">


                <div class="input-form">
                    <label>Unidade:</label>
                    <select [(ngModel)]="model.Unidade" name="unidade" (change)="carregar(1)" required> 
                      <option value=""></option>
                      <option *ngFor="let option1 of unidades" [value]="option1.Id">{{option1.Descricao}}</option>
                    </select>
                </div>

                <div class="input-form">
                    <label>Setor:</label>
                    <select [(ngModel)]="model.Setor" name="setor" required>
                            <option value=""></option> 
                        <option *ngFor="let option3 of setores" [value]="option3.Id">{{option3.setor.Descricao}}</option>
                    </select>
                </div>

                <div class="input-form">
                    <label>Data:</label>
                    <input type="date" name="telefone" [(ngModel)]="model.DataInicio">
                    <span>a</span>
                    <input type="date" name="telefone" [(ngModel)]="model.DataFinal">
                </div>

                <div class="input-form">
                    <button type="submit" [disabled]="!form.valid"><i class="fa fa-search" aria-hidden="true"></i> Consultar</button>
                </div>

            </form>
        </div>

    </div>


    <div class="listagem">

        <div class="title"></div>

        <table class="table-list">

            <tr class="topo">
                <th>Unidade</th>
                <th>Setor</th>
                <th>Especialiade/Generalista</th>
                <th>Médico</th>
                <th>Data</th>
                <th>Horário</th>
            </tr>

            <tr class="content" *ngFor="let escala of consulta" (click)="editarItem(escala)">
                <td>{{escala.Unidade.Descricao}}</td>
                <td>{{escala.SetorUnidade.setor.Descricao}}</td>
                <td>{{escala.EspecialidadeUnidade.Especialidade.Descricao}}</td>
                <td>{{escala.MedicoUnidade.Medico.Descricao}}</td>
                <td>{{escala.DataFMT}}</td>
                <td>{{escala.Hora_Inicial}}h ás {{escala.Hora_Final}}h</td>
            </tr>

        </table>

    </div>

</div>