$color2:#0960A6;
$color3: darken(#3C78D5, 10%);
$color4: #2763C1;
$color5: #00C853;
$color6:#515151;
$color7:#129AD5;
$color9: rgba(0, 0, 0, 0.09);
$color10:#e9ebee;
$color11:#fff;
$color12: rgba(0, 0, 0, 0.34);
$color13: #B6B6B6;
$color14: #ECEFF1;
$color15: #78909C;
$color16: #212121;
///
$color-primary: rgb(56, 67, 115);
$color-secondary: #00C853;
$color-danger:#d53533;
$color-light:#f4f4f4;
$color-dark: #222;
$color-border: rgb(201, 201, 201);
$color-font-1:#2d2c2c;
$color-font-2:#555;