@import '../../styles/cores.scss';
.container {
    width: 90%;
    display: table;
    margin: auto;
    margin-top: 50px;
    .col-left {
        width: 48%;
        display: block;
        float: left;
        margin-right: 2%;
        .formulario {
            width: 100%;
            min-height: 50px;
            display: table;
            float: left;
            border: 1px solid $color-border;
            //margin-bottom: 10px;
            .topo {
                width: 100%;
                height: 45px;
                display: block;
                float: left;
                border-bottom: 1px solid $color-border;
                margin-bottom: 20px;
                padding: 5px;
                button {
                    background: $color13;
                    transition: all .3s ease-in;
                    border-radius: 0;
                    &:hover {
                        background: $color-secondary;
                        color: white;
                    }
                    &.del {
                        &:hover {
                            background: $color-danger;
                            color: white;
                        }
                    }
                }
            }
            .form {
                width: 100%;
                display: block;
                float: left;
                padding: 10px;
                form {
                    width: 100%;
                    display: block;
                    float: left;
                    .input-form {
                        display: block;
                        float: left;
                        width: 310px;
                        min-height: 35px;
                        margin-bottom: 20px;
                        label {
                            font-weight: bold;
                            margin-bottom: 10px;
                            display: block;
                            float: left;
                            &.horas {
                                width: 100%;
                            }
                        }
                        input {
                            height: 35px;
                            font-size: 17px;
                            width: 300px;
                            float: left;
                            &.horas {
                                width: 90px;
                            }
                        }
                        .block-h {
                            width: 130px;
                            height: 35px;
                            display: block;
                            float: left;
                            span {
                                float: left;
                                margin-right: 5px;
                                position: relative;
                                top: 7px;
                            }
                        }
                    }
                }
            }
        }
        .listagem {
            width: 100%;
            min-height: 50px;
            display: table;
            float: left;
            border: 1px solid $color-border;
            .table-list {
                border-collapse: collapse;
                width: 100%;
                .topo {
                    height: 35px;
                    background: $color13;
                    text-align: left;
                }
                tr {
                    border-bottom: 1px solid $color-border;
                    transition: all .3s ease-in;
                    &.content {
                        cursor: pointer;
                        &:hover {
                            background: $color-secondary;
                            color: white;
                        }
                    }
                }
                td {
                    height: 35px;
                    width: 100px;
                }
            }
        }
    }
    .col-right {
        width: 50%;
        display: block;
        float: left;
        .formulario {
            width: 100%;
            min-height: 50px;
            display: table;
            float: left;
            border: 1px solid $color-border;
            //margin-bottom: 10px;
            .topo {
                width: 100%;
                height: 45px;
                display: block;
                float: left;
                border-bottom: 1px solid $color-border;
                margin-bottom: 20px;
                padding: 5px;
                button {
                    background: $color13;
                    transition: all .3s ease-in;
                    border-radius: 0;
                    &:hover {
                        background: $color-secondary;
                        color: white;
                    }
                    &.del {
                        &:hover {
                            background: $color-danger;
                            color: white;
                        }
                    }
                }
            }
            .form {
                width: 100%;
                display: block;
                float: left;
                padding: 10px;
                form {
                    width: 100%;
                    display: block;
                    float: left;
                    .input-form {
                        display: block;
                        float: left;
                        width: 310px;
                        min-height: 35px;
                        margin-bottom: 20px;
                        &.select {
                            width: 280px;
                        }
                        label {
                            font-weight: bold;
                            margin-bottom: 10px;
                            display: block;
                            float: left;
                            &.horas {
                                width: 100%;
                            }
                        }
                        input {
                            height: 35px;
                            font-size: 17px;
                            width: 300px;
                            float: left;
                            &.horas {
                                width: 90px;
                            }
                        }
                        select {
                            height: 35px;
                            font-size: 17px;
                            width: 250px;
                            float: left;
                        }
                        .block-h {
                            width: 130px;
                            height: 35px;
                            display: block;
                            float: left;
                            span {
                                float: left;
                                margin-right: 5px;
                                position: relative;
                                top: 7px;
                            }
                        }
                    }
                }
            }
        }
        .listagem {
            width: 100%;
            min-height: 50px;
            display: table;
            float: left;
            border: 1px solid $color-border;
            .list {
                display: table;
                float: left;
                width: 100%;
                .topo-list {
                    width: 100%;
                    height: 35px;
                    background: $color13;
                    text-align: center;
                    padding: 5px;
                }
                ul {
                    li {
                        list-style: none;
                        display: block;
                        button {
                            width: 100%;
                            height: 35px;
                            border: 0;
                            outline: none;
                            border-bottom: 1px solid $color-border;
                            display: block;
                            float: left;
                            font-size: 17px;
                            cursor: pointer;
                            transition: all .3s ease-in;
                            font-weight: bold;
                            &.ac {
                                background: $color-secondary;
                                color: white;
                            }
                            &:hover {
                                background: $color-secondary;
                                color: white;
                            }
                        }
                        table {
                            border-collapse: collapse;
                            width: 100%;
                            display: none;
                            &.active {
                                display: table;
                            }
                            .topo {
                                height: 35px;
                                background: #e4e4e4;
                                text-align: left;
                            }
                            .content {
                                transition: all .3s ease-in;
                                border-bottom: 1px solid $color-border;
                                &:hover {
                                    background: #0960A6;
                                    color: white;
                                }
                                td {
                                    height: 35px;
                                    cursor: pointer;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}