<div class="container">

    <div class="col-left">

        <div class="formulario">

            <div class="topo">
                <button mat-button type="button" (click)="novoItem()"> <i class="fa fa-plus" aria-hidden="true"></i> Novo</button>
                <button mat-button type="submit" (click)="salvarItem()" form="form01"> <i class="fa fa-floppy-o" aria-hidden="true"></i> Salvar</button>
                <button mat-button type="button" (click)="excluirItem()" class="del"> <i class="fa fa-trash-o" aria-hidden="true"></i> Excluir</button>
            </div>

            <div class="form">
                <form id="form01">

                    <div class="input-form">
                        <label>Descrição:</label>
                        <input type="text" name="nome" [(ngModel)]="modelF1.Descricao" [disabled]="!novo">
                    </div>

                </form>
            </div>

        </div>

        <div class="listagem">

            <table class="table-list">

                <tr class="topo">
                    <th>Descrição</th>
                </tr>

                <tr class="content" *ngFor="let setor of lista" (click)="editarItem(setor)">
                    <td>{{setor.Descricao}}</td>
                </tr>

            </table>

        </div>

    </div>

    <div class="col-right">

        <div class="formulario">

            <div class="topo">
                <button mat-button type="button" (click)="novoItem(2)"> <i class="fa fa-plus" aria-hidden="true"></i> Novo</button>
                <button mat-button type="submit" (click)="salvarItem(2)" form="form02"> <i class="fa fa-floppy-o" aria-hidden="true"></i> Salvar</button>
            </div>

            <div class="form">
                <form id="form02" #form="ngForm">

                    <div class="select input-form">
                        <label>Especialidade/Generalista:</label>
                        <select [(ngModel)]="modelF2.Especialidade" name="espec" [disabled]="!novo2" (change)="changeSelect()" required>
                             <option value=""></option>
                             <option *ngFor="let option of lista" [value]="option.RID">{{option.Descricao}}</option>
                        </select>
                    </div>

                    <div class="select input-form">
                        <label>Unidade:</label>
                        <select [(ngModel)]="modelF2.Unidade" name="und" [disabled]="!novo2" (change)="changeSelect()" required>
                            <option value=""></option>
                            <option *ngFor="let und of unidades" [value]="und.RID">{{und.Descricao}}</option>
                        </select>
                    </div>

                </form>
            </div>

        </div>



        <div class="listagem">

            <nav class="list">

                <div class="topo-list">
                    <h3>Unidades</h3>
                </div>

                <ul>
                    <li *ngFor="let unidade of unidades; let i = index">

                        <button type="button" (click)="abrir(i)" [ngClass]="{'ac':atual == i}">{{unidade.descricao}}</button>

                        <table [ngClass]="{'active':atual == i}">

                            <tr class="topo">
                                <th>Especialidades/Generalistas</th>
                            </tr>

                            <tr *ngFor="let esp of unidade.especialidades" class="content">
                                <td>{{esp.especialidade.descricao}}</td>
                            </tr>

                        </table>

                    </li>
                </ul>

            </nav>


        </div>


    </div>


</div>